html,body,form {
    margin:0;
    padding:0;
    width:100%;
    font-family:'Montserrat','Open Sans',Verdana, 'Trebuchet MS', Geneva, Tahoma, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
img,
textarea {
    width:100%;
    max-width: 280px;
}

textarea{
    resize:vertical;
}

table,th,td{
    padding:0;
    margin:0;
}

.field-validation-error{
    color:red;
}

.input-validation-error {
    border: 2px solid red;
    border-radius: 3px;
}

.navbar{
    padding:5px;
}

.navbar-toggler {
    padding:3px 5px;
}

.checkbox  label input[type="checkbox"]{
    background-color:forestgreen;
}

.btn {
    width: 100%;
    max-width: 280px;
}

.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1020;
}

.body-content{
    /*sticky footer*/
    margin-bottom:80px;
}
.horizontal-container{
    white-space:nowrap;
    overflow:auto;
    width:100%;
    height:110px;
    overflow-y:hidden;
}

.img-item {
    display: inline-block;
    background-color: #fff;
    margin: 5px;
    height: 80px;
    width: 100px;
    /*border: 1px solid #ccc;
    border-radius: 5px;*/
    overflow: hidden;
}
    .img-item img {
        margin: 2px;
        width: auto;
        height: 100%;
        text-align: center;
    }