html,body,form {
    margin:0;
    padding:0;
    width:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
img,
textarea {
    width:100%;
    max-width: 280px;
}

textarea{
    resize:vertical;
}

table,th,td{
    padding:0;
    margin:0;
}

.field-validation-error{
    color:red;
}

.input-validation-error {
    border:2px solid red;
}