<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="pathImagesFileSystem" value="" />
  <add key="pathImagesWebsiteUrl" value="" />
  <add key="MailServer" value="" />

  <add key="DbConnection" value="Data Source=(local)\SQL2017;Integrated Security=True;initial catalog=Vidly;providerName=System.Data.SqlClient;" />

</appSettings>